*{
  margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
 
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  
}

h1,h2,h3,h4,h5,h6{
  font-family: "Montserrat", sans-serif;
  color: black;
}

a{
  text-decoration: none;
  color: black  !important;
}
